body{
	background: #13c7c6ff;
	background: rgba(50,255,100,0.5);
}
header{
	background: rgba(1,1,50,0.6);
	box-shadow: 0px 2px;
	padding: 0rem 0.5rem;
}
hr{
	border-top: 10px dotted #00106077;
}
h2{
	text-decoration: underline;
	margin-bottom: 2rem; 
}
footer{
	background: white;
	color: grey;
	text-align: center;
	font-size: 1rem;
}

.navbar{
	padding: 0rem;
}
.nav-link{
	font-size: 1.3rem;
}
.nav-link:hover{
	font-size: 1.35rem;
	color: white;
	text-shadow: 0.5px 0.5px grey;
}
.navbar-brand{
	font-size: 2.8rem;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	text-shadow: 1px 2px blue;
	padding: 0rem 2rem;
	background: rgba(10,30,60,0.4);
}



.tagline{
	background: rgba(100,100,100,0.25);
	color: rgb(10,30,60);
	font-family: 'Itim', cursive;
	margin: 10rem auto;
	letter-spacing: 0.2rem;
	padding: 2rem 1rem 5rem 1rem;
	font-size: 1.5rem;
}
.name{
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
}
.image{
	padding: 1rem;
	margin: 3rem; 
}
.text{
	background: rgba(100,100,100,0.25);
	padding: 2rem 3rem;
}
.aboutme-text{
	font-size: 1.5rem;
}
.navbar-toggler{
	border: 0.15rem solid grey;
	padding-left: 0.1rem;
	background: linear-gradient(#10306004,#10306004,#10306004,black,#10306004,#10306004,#10306004,black,#10306004,#10306004,#10306004,black,#10306004,#10306004,#10306004)
}
.star{
	width: 1rem;
	height: 1rem;
}
@media only screen and (max-width: 992px){
	[class*="tagline"]{
		margin: 2rem auto;
	}
	*{
		font-size: 1.5rem;
	}
}
@media only screen and (max-width: 576px)
{
	*{
		font-size: 1.2rem;
	}
}


#intro{
	background: rgba(10,30,60,0.3);
	margin: 5rem 1rem 3rem 1rem;
}
#aboutme{
	background: rgba(100,100,100,0.25);
	margin: 3rem 1rem; 
	padding: auto;
	padding-top: 0.6rem;
	text-align: center;
}