.topnav{
	display: right;
	float: right;
}
.first-wrd{
	font-family: 'Dancing Script', cursive;
}
.navbar-brand{
	font-size: 2rem;
	margin: 2px;
}

.nav-link{
	font-size: 1.1rem;
}

div:nth-of-type(2),img{
	font-size: 23px;
	margin-top: 30px;
	margin-left: 200px;
	text-align: right;
}
span{
	color: skyblue;
	margin: 10px;
	padding-top: 15px; 
}
a{
	text-decoration: none;
}