header{
	display: flex;
	font-size: 50px;
}
div:nth-of-type(2),img{
	font-size: 23px;
	margin-top: 30px;
	margin-left: 200px;
	text-align: right;
}
span{
	color: skyblue;
	margin: 10px;
	padding-top: 15px; 
}
a{
	text-decoration: none;
}