body{
	background: rgba(10,10,10,.1);
	font-size: 1rem;
}
footer{
	color: grey;
	text-align: center;
	font-size: 1rem;
}
hr{
	border-top: 10px dotted grey;
}
.navbar{
	background-image: linear-gradient(blue,lightblue);
}
.nav-link{
	font-size: 1.2rem;
}
.nav-link:hover{
	font-size: 1.25rem;
	text-shadow: 0.5px 0.5px #0000ff;
}
.navbar-brand{
	font-size: 2.5rem;
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	text-shadow: 1px 1px #0000ff;
	margin-left: 2rem; 
}
.tagline{
	font-family: 'Itim', cursive;
	margin: 5rem;
	padding: 5rem;
	font-size: 1.5rem;
}
.name{
	font-size: 3rem;
	font-family: 'Poppins', sans-serif;
}
.image{
	border-radius: 100px;
	padding: 1rem;
	margin: 5rem;
}